<!doctype html>

<html lang="en">
    
<head>
    <title>Natural Roots Juice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="natural_roots_juice.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/9fc8d9c6d1.js"></script>

   
</head>
    
    
<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><b>Natural Roots Juice</b></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
                 
        </div>

        
<div id="dropdown" class="collapse navbar-collapse">
            
    <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="menu">Order</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://www.instagram.com/naturalrootsjuice/">Follow Us On INSTAGRAM <i class="fa fa-instagram"></i></a></li>
    </ul>
    
    </div>
    </div>
      
</nav>

<body>
    
    
    <div class="container">
    
    <% if current_user %>
     
    <h1>Place an Order:</h1>
    
</div>
    
    <%= form_for :order do |o| %>
                
                
<div class="container" id="themenu">
    
     <p>
  <%= o.label :Name_for_the_order %>
    <%= o.text_field :name_for_order , placeholder:"Name"%>
      </p>
    
     <p>
  <%= o.label :Phone_number %>
    <%= o.text_field :phone_number , placeholder:"Phone"%>
      </p>
    
    
            
    <div class="container" id="greenGoodness">
                
                
                
<div class="row">
       <div class="col-sm-6">
           <div class="container"><h1>Green Goodness</h1> <p>Pear, celery, cucumber, Kale, spinach, lemon</p></div>
       </div>
       
         <div class="col-xs-3">
           <div class="container">12oz </div>
               <%= o.number_field(:green_goodness_12_oz, in: 1.0..20.0) %>
            </div>
       
       <div class="col-xs-3">
               <div class="container">16oz</div>
              <%= o.number_field(:green_goodness_16_oz, in: 1.0..20.0) %>
        </div>
  
       </div>
</div>
    
    
    
<div class="container" id="greenGoodness">
                
   <div class="row">
       
       <div class="col-sm-6">
           <div class="container"><h1>Indigo Mood</h1> <p>Pear, celery, cucumber, Kale, spinach, lemon</p></div>
       </div>
       
         <div class="col-xs-3">
           <div class="container">12oz </div>
               <%= o.number_field(:indigo_mood_12_oz, in: 1.0..20.0) %>
              
       </div>
       
                <div class="col-xs-3">
           <div class="container">16oz</div>
                    <%= o.number_field(:indigo_mood_16_oz, in: 1.0..20.0) %>
       </div>
    </div>
</div>
    
    
    
    
<div class="container" id="greenGoodness">
                
   <div class="row">
       
       <div class="col-sm-6">
           <div class="container"><h1>Sweet Potato Pie</h1> <p>Pear, celery, cucumber, Kale, spinach, lemon</p></div>
       </div>
       
         <div class="col-xs-3">
           <div class="container">12oz </div>
               <%= o.number_field(:sweet_potato_pie_12_oz, in: 1.0..20.0) %>
            </div>
       
       
           <div class="col-xs-3">
               <div class="container">16oz</div>
                    <%= o.number_field(:sweet_potato_pie_16_oz, in: 1.0..20.0) %>
               </div>
       </div>
</div>
    
    

<div class="container" id="greenGoodness">
                
   <div class="row">
       
       <div class="col-sm-6">
           <div class="container"><h1>Red Goddess</h1> <p>Pear, celery, cucumber, Kale, spinach, lemon</p></div>
       </div>
       
         <div class="col-xs-3">
           <div class="container">12oz </div>
               <%= o.number_field(:red_goddess_12_oz, in: 1.0..20.0) %>
            </div>
       
       
           <div class="col-xs-3">
               <div class="container">16oz</div>
                    <%= o.number_field(:red_goddess_16_oz, in: 1.0..20.0) %>
               </div>
       </div>
                
</div>
    
    
    
<div class="container" id="greenGoodness">
                
   <div class="row">
       
       <div class="col-sm-6">
           <div class="container"><h1>Lime Coco Melon</h1> <p>Pear, celery, cucumber, Kale, spinach, lemon</p></div>
       </div>
       
         <div class="col-xs-3">
           <div class="container">12oz </div>
               <%= o.number_field(:lime_coco_melon_12_oz, in: 1.0..20.0) %>
            </div>
       
       
           <div class="col-xs-3">
               <div class="container">16oz</div>
                    <%= o.number_field(:lime_coco_melon_16_oz, in: 1.0..20.0) %>
               </div>
       </div>
                
</div>
    
    
    
    
<div class="container" id="greenGoodness">
                
   <div class="row">
       
       <div class="col-sm-6">
           <div class="container"><h1>Electrolyte Balancer</h1> <p>Pear, celery, cucumber, Kale, spinach, lemon</p></div>
       </div>
       
         <div class="col-xs-3">
           <div class="container">12oz </div>
               <%= o.number_field(:electrolyte_balancer_12_oz, in: 1.0..20.0) %>
            </div>
       
       
           <div class="col-xs-3">
               <div class="container">16oz</div>
                    <%= o.number_field(:electrolyte_balancer_16_oz, in: 1.0..20.0) %>
               </div>
        </div>
               
</div>

     <p>
        <%= o.submit %>
     </p>
           
       <% end %> 
    
<% else %>
    
    <h1>You must be logged in to place an order</h1>
    
    
    <%= link_to "Log in", new_user_session_path , class: 'signIn' %>
    
    <% end %>
    
</div>
    

</body>

<footer>
    <div class="container">
    <ul>
    <li>Contact Us</li>
    <li id="border1">Careers</li> 
    <li id="border2">Events</li> 
    <li>Preferred Vendors</li> 
    </ul>
    </div>
</footer>


</html>



